<!-- start custom head -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/styles.css' | relative_url }}">

<!-- favicon -->
<link rel="shortcut icon" type="image/x-icon" href="{{ '/img/favicon.ico' | relative_url }}" >
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/img/apple-touch-icon.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/img/favicon-32x32.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/img/favicon-16x16.png' | relative_url }}">
<link rel="manifest" href="{{ '/img/site.webmanifest' | relative_url }}">

<!-- end custom head snippets -->